<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>FraZaMaMe Bot</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body class="container">
  <ul>
    <li><a href="/">Consola</a></li>
    <li style="float:right"><a href="/buscar">Buscar</a></li>
    <li style="float:right"><a target="_blank" href="/encontrado">Encontrado</a></li>
    <li style="float:right"><a href="/coords">Coords</a></li>
  </ul>
  {{# each coords}}
  <div class="panel panel-primary">
    <div class="panel-heading">
      {{lugar}}
      <div class="pull-right">
        {{fecha}}
      </div>
    </div>
    <div class="panel-body">
      {{x}} {{y}} {{z}}
    </div>
    <div class="panel-body">
      {{server}}
    </div>
  </div>
  {{/each}}
</body>

</html>