<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>FraZaMaMe Bot</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body class="container">
  <ul>
    <li><a href="/">Consola</a></li>
    <li style="float:right"><a href="/buscar">Buscar</a></li>
    <li style="float:right"><a target="_blank" href="/encontrado">Encontrado</a></li>
    <li style="float:right"><a class="active" href="/coords">Coords</a></li>
  </ul>
  {{# each coords}}
    <a class="coords">
      <div class="coords-top">
        <div class="coords-name">{{x}} {{y}} {{z}}</div>
          <div class="coords-description">{{lugar}}</div>
        </div>
        <div class="coords-footer">
          <div class="coords-ip">{{server}}</div>
        <div class="coords-fecha">{{fecha}}</div>
      </div>
    </a>
  {{/each}}
</body>

</html>